<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WIWElabelprint.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <WIWElabelprint.My.MySettings>
            <setting name="Clipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IDFilePath" serializeAs="String">
                <value>l:\LOGISZT\1_Szemelyes_mappak\Tamas_Laszlo\WIWE_teszt\WIWE_ID.txt</value>
            </setting>
            <setting name="IDstring" serializeAs="String">
                <value>B0B4</value>
            </setting>
        </WIWElabelprint.My.MySettings>
    </applicationSettings>
</configuration>